
<ion-view>
  <div class="bar bar-header">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Header Buttons</h1>
    <button class="button">Edit</button>
  </div>
  <ion-content>

    <div class="im-wrapper">
      <h4 class="no-border no-padding-bottom">List Motions</h4>
      <strong>Tap an item</strong>
    </div>
    <ion-list class="animate-ripple">
      <ion-item ng-repeat="location in GooglePOIModelList" nav-clear menu-close class="item-icon-right item-avatar" ng-click="blinds();">
        <img src="img/material4.jpg">
        <h2>{{location.name}}</h2>
        <p>{{location.vicinity}};</p>
        <i class="icon ion-chatbubble muted"></i>
      </ion-item>

    </ion-list>
   
  </ion-content>
</ion-view>
